@charset "utf-8";
/* CSS Document */
@font-face{
	font-family:Atomic;
	src:url(atomic.ttf);
	}
html{
	height:100%;
	overflow:hidden;    
	}
body{
	background-color:#333;
	height:100%;
	margin-top:0px;
	}
#globalHeader{
	height:50px;
	width:650px;
	margin:0 auto;
	background-image:url(header.png);
	background-position:center top;
	}
#globalContainer{
	top:0px;
	width:650px;
	height:90%;
	margin:0 auto;
	position:relative;
	min-height:400px;
	padding-bottom:0px;
	}
#userRegistration{
    background:#222;
    border:2px outset #555;
    margin:0 auto;
    border-radius:20px;
    color:#CCC;
    font-family:Arial;
    padding:10px;
    display:none;
    z-index:9500;
}
#userAuthorization{
    background:#222;
    border:2px outset #555;
    margin:0 auto;
    border-radius:20px;
    color:#CCC;
    font-family:Arial;
    padding:10px;
    display:none;
    z-index:9500;
}
.pwdInput{
    width:90%;
}
#userRegAsk{
    
}
#userPass{
    margin:0 auto;
    display:none;
}
#chat{
	background-color:#222;
	width:440px;
	position:absolute;
	bottom:60px;
	top:60px;
	box-shadow:3px 3px 20px rgba(0,0,0,0.5);
	background-image:-webkit-linear-gradient(top,#111 0%, #151515 70%, #333 100%);
	background-image:-o-linear-gradient(top,#111 0%, #151515 70%, #333 100%);
	background-image:-ms-linear-gradient(top,#111 0%, #151515 70%, #333 100%);
	background-image:-moz-linear-gradient(top,#111 0%, #151515 70%, #333 100%);
	border:#666 outset 1px;
	border-radius:0 0 10px 10px;
    display:none;
	}

#chatHeader{
	height:20px;
	width:100%;
	background-color:#333;
	text-align:center;
	color:#CCC;
	font-family:Arial;
	font-size:12px;
	line-height:20px;
	z-index:9000;
	}
#chatBody{
	position:absolute;
	overflow-y:scroll;
	top:20px;
	bottom:0px;
	width:100%;	
	}
::-webkit-scrollbar{
	width:10px;	
	}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #555;
    background-color: #555;
}
#contactList{
	background-color:#222;
	width:200px;
	position:absolute;
	bottom:60px;
	top:60px;
	right:0px;
	box-shadow:3px 3px 20px rgba(0,0,0,0.5);
	background-image:-webkit-linear-gradient(top,#111 0%, #151515 70%, #333 100%);
	background-image:-o-linear-gradient(top,#111 0%, #151515 70%, #333 100%);
	background-image:-ms-linear-gradient(top,#111 0%, #151515 70%, #333 100%);
	background-image:-moz-linear-gradient(top,#111 0%, #151515 70%, #333 100%);
	border:#666 outset 1px;
	border-radius:0 0 10px 10px;
    display:none;
	}
#contactListHeader{
	height:20px;
	width:100%;
	background-color:#333;
	text-align:center;
	color:#CCC;
	font-family:Arial;
	font-size:12px;
	line-height:20px;
	}
#contactListBody{
	position:absolute;
	overflow-y:scroll;
	top:20px;
	bottom:0px;
	width:100%;	
	}
.contactUnit{
	border:#CCC outset 2px;
	border-radius:15px;
	box-shadow:3px 3px 20px rgba(0,0,0,0.5);
	width:70%;
	margin:0 auto;
	color:#CCC;
	text-align:center;
	margin-top:10px;
	font-family:Arial;
	font-weight:bold;
	font-size:14px;
	}
.contactUnitGuest{
    border:#CCC outset 2px;
	border-radius:15px;
	box-shadow:3px 3px 20px rgba(0,0,0,0.5);
	width:70%;
	margin:0 auto;
	color:#333;
	text-align:center;
	margin-top:10px;
	font-family:Arial;
	font-weight:bold;
	font-size:14px;
    background-color:#DDD;
	}
.chatCell{
	min-width:70%;
	border:#CCC outset 2px;
	margin-top:10px;
	margin-left:10px;
    margin-right:100px;
	border-radius:15px;
	box-shadow:3px 3px 20px rgba(0,0,0,0.5);
	z-index:1000;
	position:relative;
	float:left;
	background-color:#222;
	}
.chatCellSelf{
	min-width:70%;
	border:#CCC outset 2px;
	margin-top:10px;
    margin-left:100px;
	position:relative;
	float:right;
	right:10px;
	border-radius:15px;
	box-shadow:3px 3px 20px rgba(0,0,0,0.5);
	z-index:1000;
	background-color:#222;
    }
.chatCellSys{
    width:420px;
	border:#CCC outset 2px;
	margin-top:10px;
    float:left;
	border-radius:15px;
	box-shadow:3px 3px 20px rgba(0,0,0,0.5);
	z-index:1000;
	background-color:#222;
    }
.chatCellHeader{
	height:20px;
	width:100%;
	background-color:#444;
	text-align:center;
	color:#CCC;
	font-family:Arial;
	font-size:12px;
	line-height:20px;
	border-radius:15px 15px 0 0;
	}
.chatCellBody{
	padding:10px;
	font-family:Arial;
	font-size:12px;
	color:#5F5;
	text-shadow:0 0 5px rgba(20,200,20,0.7);	
	}
.chatCellBodySelf{
	padding:10px;
	font-family:Arial;
	font-size:12px;
	color:#F55;
	text-shadow:0 0 5px rgba(200,20,20,0.7);
	text-align:right;	
	}
.chatCellBodySys{
    padding:10px;
	font-family:Arial;
	font-size:12px;
	color:#FF5;
	text-shadow:0 0 5px rgba(200,200,20,0.7);
	text-align:center;	
	}

#globalFooter{
	height:50px;
	width:100%;
	bottom:0px;
	position:absolute;
	background-color:#222;
	box-shadow:3px 3px 20px rgba(0,0,0,0.5);
	border:#666 outset 2px;
	border-radius:10px;
    display:none;
	}
#logo{
	font-family:Atomic;
	font-size:27px;
	line-height:50px;
	top:10px;
	position:relative;
	color:#DDD;
	text-shadow:0 0 10px #CCC;	
	}
#status{
	width:100px;
	height:15px;
	line-height:15px;
	color:#FF0;
	font-size:12px;
	font-family:Arial;
	position:absolute;
	left:510px;
	top:7px;
	text-shadow:0 0 5px #FF0;
	text-align:center;
	}
#msgBox{
	width:500px;
	font-family:Arial;
	margin:10px;
	position:relative;
	background-color:#444;
	border:#000 1px solid;
	color:#AAA;
	float:left;
	}
#msgSend{
	width:82px;
	height:21px;
	background-image:url(bnt_send.png);
	background-repeat:no-repeat;
	position:relative;
	float:left;
	margin:10px;
	}
#msgSend:hover{
	background-image:url(bnt_send_hover.png);
	background-repeat:no-repeat;	
	}
.msgSendClick{
	background-image:url(bnt_send_onclick.png) !important;
	background-repeat:no-repeat;	
	}
.miniText{
	font-size:9px;
	color:#999;
	position:relative;
	top:-15px;
	left:10px;
	}
.miniTextP{
	font-size:9px;
	color:#999;
	top:45px;
	left:10px;
	position:absolute;
	}
#nickName{
    font-size:10px;
    height:16px;
    border:none;
    position:relative;
    top:-1px;
}
#nickNameSubmit{
    height:18px;
    font-size:10px;
    position:relative;
    top:-1px;
    background-color:#333;
    color:#CCC;
    border:#ccc solid 1px;
}
#autoscroll{
    position:absolute;
    top:0;
    right:5px;
    color:#CCC;
    font-family:Arial;
    font-size:10px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
    cursor:default;
}
#soundToggle{
    position:absolute;
    top:0;
    left:5px;
    color:#CCC;
    font-family:Arial;
    font-size:10px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
    cursor:default;
}
.autoscrollOn{
    color:#0F0 !important;
    text-shadow:0 0 5px #0F0;
}
#exitSubmit{
    display:none;
    height:18px;
    font-size:10px;
    position:relative;
    top:-1px;
    background-color:#333;
    color:#CCC;
    border:#ccc solid 1px;
}
#fork{
    background-image:url(git.png);
    width:216px;
    height:216px;
    position:fixed;
    right:-30px;
    top:-30px;
}
.warningText{
    color:red;
}
#userRegWarn{
    display:none;
}
#userAuthWarn{
    display:none;
}